<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/style.css">
    <title>Express movies</title>
</head>
<body>
    <div class="central">

        <%- include ('./partials/header') %>

        <h1>Express movies: le site de cinéphile</h1>
        <div>
            Etes-vous plutôt film ou série ? Vous trouverez votre bonheur dans les 2 cas.
        </div>

    </div>
    
    <%- include ('./partials/footer') %>
</body>
</html>